body {

    background: darkblue;
    padding-bottom: 500px;
}

#effect {
    display: flex;
    background-color: transparent;
    gap: 40px;
    height: 100%;
    z-index: -10;
    width: fit-content;
    margin: auto;
    position: fixed;
    bottom: 100px;
}

#effect>div {
    position: fixed;
    bottom: 200px;
    width: 30px;
    height: 50px;
    background-color: cyan;
    border-radius: 20px;
    position: relative;
    z-index: -10;
}



#effect>div:nth-child(1) {
    animation: mymove 1000ms infinite;
}

#effect>div:nth-child(2) {
    animation: mymove 800ms infinite;
}

#effect>div:nth-child(3) {
    animation: mymove 1200ms infinite;
}

#effect>div:nth-child(4) {
    animation: mymove 500ms infinite;
}

#effect>div:nth-child(5) {
    animation: mymove 2s infinite;
}

#effect>div:nth-child(6) {
    animation: mymove 1800ms infinite;
}

#effect>div:nth-child(7) {
    animation: mymove 2200ms infinite;
}

#effect>div:nth-child(8) {
    animation: mymove 600ms infinite;
}

#effect>div:nth-child(9) {
    animation: mymove 7s infinite;
}

#effect>div:nth-child(10) {
    animation: mymove 17s infinite;
}



#effect>div:nth-child(11) {
    animation: mymove 30s infinite;
}

#effect>div:nth-child(12) {
    animation: mymove 17s infinite;
}

#effect>div:nth-child(13) {
    animation: mymove 28s infinite;
}

#effect>div:nth-child(14) {
    animation: mymove 12s infinite;
}

#effect>div:nth-child(15) {
    animation: mymove 8s infinite;
}

#effect>div:nth-child(16) {
    animation: mymove 31s infinite;
}

#effect>div:nth-child(17) {
    animation: mymove 2s infinite;
}

#effect>div:nth-child(18) {
    animation: mymove 3s infinite;
}

#effect>div:nth-child(19) {
    animation: mymove 800ms infinite;
}

#effect>div:nth-child(20) {
    animation: mymove 1s infinite;
}

@keyframes mymove {
    from {
        top: 0px;
        filter: blur(0px);
    }

    to {
        top: 700px;
        background-color: darkblue;
        height: 800px;
        transform: scale(1.5);
        filter: blur(8px);
    }
}




#container {
    min-width: 400px;
    max-width: 50%;
    padding: 100px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.822);
    border-radius: 50px;
    margin-top: 100px;
    cursor: pointer;
    transition: 2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: white;
}


#eye {
    border-bottom: 25px solid teal;
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 10%;
    border-radius: 50%;
    padding: 10%;
    animation: mymouth 10s infinite;
    position: relative;
   margin: auto;
   height: 250px;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

@keyframes mymouth{
  0%{
    border-bottom: 1px double rgb(0, 0, 0);
  }
  50% {
    border-bottom: 100px double rgb(0, 0, 0);
  }
  100%{
    border-bottom: 1px double rgb(0, 0, 0);
  }
}



#eye>div {
    padding: 20px;
    border-radius: 50%;
    height: 100px;
    display: grid;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
}

#eye>div>div {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
    border-radius: 50%;
    animation: myeye 2000ms infinite ease-in-out;
    filter: blur(2px);

}

@keyframes myeye {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1.3);
    }

    100% {
        transform: scaleY(0);
    }
}

#formcontainer {

    display: block;
    gap: 20px;
}

#formcontainer>input{
margin: 5px;
padding: 2px;
font-size: 20px;
border-radius: 10px;
}
.gobtn{
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
    border: none;
    color: white;
    transition: 1s;
    }
.gobtn:hover{
     background-color: lightgreen;
     color: black;
     cursor: pointer;
    }